name: Ubuntu

on:
  push:
    branches:
      - "**"
  pull_request:
    branches:
      - "**"

jobs:
  test:
    name: Tests (${{ matrix.os }})
    runs-on: ${{ matrix.os }}

    strategy:
      matrix:
        os: [ubuntu-22.04, ubuntu-24.04]

    steps:
      - uses: actions/checkout@v5

      - uses: actions/setup-python@v6
        with:
          python-version: '3.12'
          cache: 'pip'

      - name: Install dependencies
        run: pip install -r requirements.txt

      - name: Test
        run: |
          cd src
          pytest test_unit.py --doctest-modules --junitxml=junit/test-results-${{ matrix.os }}.xml

      - name: Upload test results
        if: ${{ always() }}
        uses: actions/upload-artifact@v4
        with:
          name: pytest-results-${{ matrix.os }}
          path: junit/test-results-${{ matrix.os }}.xml

    #   - name: Publish test report to PR
    #     if: always()
    #     uses: dorny/test-reporter@v1
    #     with:
    #       name: PyTorch Unit Tests (${{ matrix.os }})
    #       path: junit/test-results-${{ matrix.os }}.xml
    #       reporter: java-junit
    #       fail-on-error: "false"